@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
main{
  background-color: salmon;
  font-family: 'Oswald', sans-serif;  
}

table,
th,
td {
  
    padding: 5px;
  border: 2px solid black;
  background-color: darkred;

}
#form{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: darkred;
  color: #fff;
  text-align: center;
}
#form input{
background-color: black;
color: #fff;

}